.listnote {
	list-style: none;
}

.listnote__item {
	padding: 1.2rem;
}

.searchnotes {
	display: flex;
	margin: 48px;
}

.searchnotes__input {
	width: 50%;
        margin-right: 24px;	
}

.searchnotes__button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	
}