input {
  background-color: transparent;
  border: 0;
  padding: 8px;
}

input:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 14px;
  max-height: 100px;
}

textarea:focus {
  outline: 5px auto highlight;
}
